<!DOCTYPE html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}?v=1">
</head>
<body>
    <main>
        <p>Current score: <span id="score"></span></p>
        <br>
        <img id='guess' alt="Can you guess what's being produced here?">
        <br>
        <input type="text" placeholder="Enter guess...." id="guessBar">
        <br>
        <p><span id="message"></span></p>
        <br>
        <button id="submitButton" onclick = "submitGuess()">Submit</button>
        <br>
        <button id="renewImage" onclick = "chooseRandomImage()">New Image</button> 
    </main>
    <script>
        var score = 0;
        var correct;
        function resetGame(){
            document.getElementById('score').innerHTML = score;
            correct = chooseRandomImage();
        }
        function submitGuess(){
            var submitted = document.getElementById("guessBar").value;
            if(submitted == ''){
                document.getElementById('message').innerHTML = 'Please enter a guess.';
            } else{
                if(submitted == correct){
                    score += 1;
                } else {
                    score = 0;
                }
            }
            document.getElementById("guessBar").value = '';
            resetGame();
        }
        function chooseRandomImage(){
            var possibleImages = ['Belt', 'Gears', 'Green Circuits', 'Inserters', 'Iron Plates', 'Advanced Oil Processing', 'Copper Plates']
            // https://stackoverflow.com/questions/4550505/getting-a-random-value-from-a-javascript-array
            Random = Math.floor(Math.random() * possibleImages.length);
            var randomImage = possibleImages[Random];
            document.getElementById("guess").src=`static/images/${randomImage}.png`;
            return randomImage;
        }
        document.onload = resetGame();
    </script>
</body>